version: "3.8"
services:
  pki:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        STAGE: ${STAGE:-dev}
      target: ${TARGET:-appWebServerRuntime}
    image: lukadoric/security-back
    container_name: pki
    restart: on-failure
    networks:
      - pki-network
    ports:
      - 8080:8080
    environment:
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_DOMAIN: ${DATABASE_DOMAIN}
      DATABASE_SCHEMA: ${DATABASE_SCHEMA}
    depends_on: 
      - database
      
  security-front:
    build:
      context: front/Security-front
      dockerfile: Dockerfile
    image: lukadoric/security-front
    container_name: pki-container-front
    restart: on-failure
    networks:
      - pki-network
    ports:
      - 8081:8080
    
  database:
    image: postgres:${POSTGRES_VERSION-13}
    container_name: database
    restart: always
    networks:
      - pki-network
    expose:
      - 5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

networks:
  pki-network:
    name: pki-network
    driver: bridge
